{% extends "base.html.twig" %}
{% form_theme formView 'bootstrap_5_layout.html.twig' %}

{% block body %}

<button class="button-link d-flex align-self-start ms-4 bg-one rounded p-1">
    <a class="text-decoration-none link color-four" href="{{ path('user_index') }}">Retour</a>
</button>
<section class="event-edit">
    <h1>Modifier l'événement <span>"{{event.title}}"<span></h1>

    {{ form_start(formView, {'attr': { 'novalidate': 'novalidate'}}) }}
        {{ form_row(formView.title) }}
        {{ form_row(formView.adress) }}
        {{ form_row(formView.description) }}
        {{ form_row(formView.date) }}
    <div class="edit-event-button">
        <button type="submit" class="btn button_inscription text-center">Valider</button>
    </div>

    {{ form_end(formView) }}
    
</div>

{% endblock %}