{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
 
 <main class="container ">
  
        {# Title section #} 

        <section class="title col-12 col-lg-12 text-center mb-5">
            <a class="d-flex align-self-end ms-4 color-four text-decoration-none link"href="{{ path('dashboard')}}">Retour</a>
            <h1 class="text-uppercase fw-bold">Mes Evenements</h1>

        </section>


        <div class="container navigation-event">

        {#filter input #}

            <div class="">
            <button type="button" class="btn  dropdown-toggle button-filter" data-bs-toggle="dropdown" aria-expanded="false">
                Filtres
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item all-events" href="#">Tous les évènements</a></li>
                <li><a class="dropdown-item organized-events" href="#">Evènements organisés</a></li>
                <li><a class="dropdown-item invited-events" href="#">Evènements invités</a></li>
            </ul>
            </div>


        {#searchbar#}

            <form action="{{ path('search_index') }}" class="input-group searchbar">
                <div class="form-outline">
                    <input type="text" name="search" id="search-form" placeholder="Ex : Barbecue" class="form-control" />
                    <label class="form-label" for="search-form">Rechercher</label>
                </div>
                <input id="search-button" name="submit" type="submit" value="Go!" class="btn btn-primary button-search">
            </form> 

     
        </div>

         {# Events list section #}

        <section class="event-list col-12 col-lg-12 text-center mt-5 mb-5 d-flex align-items-center">
            <div class="border d-flex flex-column align-items-center mx-auto pt-5 pb-5 rounded-3">
                <div>
                    <h2 class="fs-1 mb-5 color-three">Tous mes évènements</h2>
                    <table class="table fs-3">
                        <thead>
                            <tr>
                            <th scope="col">Evenement</th>
                            <th scope="col">Date</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Organisateur</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for event in app.user.event %}    
                            
                            {# If the user connected is the organizer of the event #}
                            {% if app.user == event.user %}
                                <tr id="myevent" class="organizer">
                            {% else %}
                                <tr id="myevent" class="invited">
                            {% endif %}
                                    <th scope="row">{{event.title}}</th>
                                    <td>{{event.date ? event.date|date('d-m-Y')}}</td>
                                    {# Use the twig filter 'split' to cut the adress #}
                                    {% set adressData = event.adress|split(' ')%}
                                    {# use the twig filter 'last' to select the last element (the city) and twig filter 'capitalize' to uppercase the first character #}
                                    <td>{{(adressData|last)|capitalize}}</td>
                                    <td>{{event.user.pseudo}}</td>
                                    <td><a href="{{ path('event_show', {'id': event.id}) }}"><i class="bi bi-eye-fill color-three"></i></a></td>
                                </tr>
                        {% endfor %}

                        {% for participation in app.user.participation %}    
                            {% set event = participation.event %}

                            {% if app.user == event.user %}
                                <tr id="myevent" class="organizer">
                            {% else %}
                                <tr id="myevent" class="invited">
                            {% endif %}
                                <th scope="row">{{event.title}}</th>
                                <td>{{event.date ? event.date|date('d-m-Y')}}</td>
                                {# Use the twig filter 'split' to cut the adress #}
                                {% set adressData = event.adress|split(' ')%}
                                {# use the twig filter 'last' to select the last element (the city) and twig filter 'capitalize' to uppercase the first character #}
                                <td>{{(adressData|last)|capitalize}}</td>
                                <td>{{event.user.pseudo}}</td>
                                <td><a href="{{ path('event_show', {'id': event.id}) }}"><i class="bi bi-eye-fill color-three"></i></a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table> 
                </div>
                    
            </div>
        </section>

  </main>  

{% endblock %}
