{% extends "base.html.twig" %}

{% block body %}
<section class="m-3">
    <div class="container text-center">
    <div class="row">
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-3">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('assets/images/avatar-Jérémy.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jérémy Rébière</h5>
                    <div class="card-text">
                        <p>Product Owner</p>
                        <p>Lead Developer Front</p>
                    </div>
                    <a href="#" class=""><img src="{{ asset('assets/images/LI-Logo.png')}}" alt="" class="li-logo"> </i></a>
                </div>
            </div>
        </div>
    
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-3">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('assets/images/avatar-morgane.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Morgane Alemany</h5>
                    <div class="card-text">
                        <p>Lead Developer Back</p>
                        <p>Référente Bootstrap</p>
                    </div>
                    <a href="#" class=""><img src="{{ asset('assets/images/LI-Logo.png')}}" alt="" class="li-logo"> </i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-3">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('assets/images/false.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tiavina Randriamadisoa</h5>
                    <div class="card-text">
                        <p>Scrum Master</p>
                        <p>Référent Git</p>
                    </div>
                    <a href="#" class=""><img src="{{ asset('assets/images/LI-Logo.png')}}" alt="" class="li-logo"> </i></a>
                </div>
            </div>
        </div>
    </div> 
</div>
</section>

{% endblock %}