{{ form_start(eventView) }}
    {{ form_row(eventView.title) }}
        {{ form_row(eventView.adress) }}
        {{ form_row(eventView.description) }}
        {{ form_row(eventView.date) }}
        <div class="admin-event-edit-button">
            <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(eventView) }}

    

