{% extends 'backoffice/layout.html.twig' %}

{% block title %}
    Administration-Evenements
{% endblock %}

{% block content %}
    <main>
        <h3 class='text-center color-one pb-5 fw-bold'>Liste des évènements</h3>

        <table class="table  color-one col-9 pb-5 align-text-top fw-bold">
            <thead class='color-three'>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Adresse</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
            {% for event in events %}
            <tr>
            
                <td class='p-4'> {{ event.title }} </td>
                <td> {{ event.description }} </td>
                <td> {{ event.adress }} </td>
                <td>{{event.date ? event.date|date('d-m-Y')}}</td>
                <td>
                    <a class='color-four link' href="{{ path('backoffice_event_edit', {id:event.id}) }}">Éditer</a>
                    {# <a href="{{ path('backoffice_user_delete', {id:user.id}) }}">Supprimer</a> #}
                </td>
                
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}