{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
    <section class="title mb-5">
        <button class="button-link d-flex align-self-end ms-4 bg-one rounded p-1">
            <a class="text-decoration-none link color-four" href="{{ path('dashboard') }}">Retour</a>
        </button>
  
        <h1>Mon profil</h1>

    </section>
<section class="profile-index">
 
<div class="mx-auto">
    <table class="profile-table">
        <tr>
            <th class="profile-firstname">Prénom</th>
            <td data-label="Prénom">{{app.user.firstname}}</td>
        </tr>
        <tr>
            <th class="profile-lastname">Nom</th>
            <td data-label="Nom">{{app.user.lastname}}</td>
        </tr>
        <tr>
            <th class="profile-pseudo">Pseudo</th>
            <td data-label="Pseudo">{{app.user.pseudo}}</td>
        </tr>
        <tr>
            <th class="profile-email">Email</th>
            <td data-label="Email">{{app.user.email}}</td>
        </tr>
        <tr>
            <th class="profile-image">Avatar</th>
            <td data-label="Avatar"><img src="{{ asset('uploads/' ~ app.user.image)}}" class="rounded-circle" alt=""></td>
        </tr>
    </table>
    <div class="profile-actions">
        <a href="{{ path('user_update') }}" class="btn  button-edit-profile" title="Modifier"><i class="bi bi-pencil-square"></i></a>

        <a href="{{ path('user_delete', {'id': app.user.id}) }}" onclick="return confirm('Es-tu sûr de vouloir supprimer ton compte ?');" class="btn  button-delete-profile" title="Supprimer"><i class="bi bi-x-square-fill"></i></a>

    </div>
</div>
</section>
</main>

{% endblock %}
