{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}

<div class="d-flex justify-content-between">
    <button class="button-link d-flex align-self-end ms-4 bg-one rounded p-1">
        <a class="text-decoration-none link color-four" href="{{ path('dashboard') }}">Retour</a>
    </button>
    <a href="{{path('survey_create')}}" class="me-5" title="Créer un sondage">
        <i class="bi bi-plus-lg fs-3 color-three"></i>
    </a>
</div>

<h1 class="text-center color-four fw-bold mb-5">Liste de mes sondages</h1>

<div class="survey-table d-flex justify-content-center">
    <table class="survey-list table table-striped fs-4 rounded">
    <thead class="color-one">
        <tr>
            <th scope="col">Evenement</th>
            <th scope="col">Choix 1</th>
            <th scope="col">Choix 2</th>
            <th scope="col">Choix 3</th>
            <th scope="col">Actif/Inactif</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

    {% for survey in surveyList %}
        <tr style="color:white">
            <th scope="row">{{survey.event.title}}</th>
            {% for responses in survey.surveyResponses %}
                <td>{{responses.response|date('d-m-Y')}}</td>
            {% endfor %}

            {% if survey.status == 1 %}
                <td class="color-three fw-bold">Actif</td>
                <td class="text-center">
                    <a class="text-decoration-none" href="{{path('survey_activate', {'id': survey.id})}}" title="Désactiver">
                        <i class="bi bi-pause me-4 color-four fs-2"></i>
                    </a>
                    <a href="{{path('survey_delete', {'id': survey.id})}}" title="Supprimer">
                        <i class="bi bi-x-lg color-five"></i>
                    </a>
                </td>
            {% else %}
                <td class="color-four fw-bold">Inactif</td>
                <td class="text-center">
                    <a class="text-decoration-none" href="{{path('survey_activate', {'id': survey.id})}}" title="Activer">
                        <i class="bi bi-power me-4 color-three fs-2"></i>
                    </a>
                    <a href="{{path('survey_delete', {'id': survey.id})}}" title="Supprimer">
                        <i class="bi bi-x-lg color-five"></i>
                    </a>
                </td>
            {% endif %}

        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
