    {% extends 'base.html.twig' %}

    {% block title %}Tableau de bord{% endblock %}

    {% block body %}
    <main class="container ">
  
        {# Title section #} 
        <button class="button-link d-flex align-self-end ms-4 bg-one rounded p-1">
            <a class="text-decoration-none link color-four" href="{{ path('home') }}">Retour</a>
        </button>
        <div class="title text-center mb-5">
            <h1 class="text-uppercase fw-bold">Tableau de bord</h1>
            <h3 class="fw-bold">Bienvenue {{app.user.pseudo}}</h3>
        
        </div>

        {# Events section #}
        <section id="dashboard-section">
            <div class="card text-center">
                <div class="card-header">
                    Mes événements
                </div>
                <div class="card-body">
                    <table>
                        <tr id="events-organized">
                            <td>Organisés</td>
                            {# Find the number of organized, invited and archived events #}
                            {% set eventsOrganized = 0 %}
                            {% set eventsArchived = 0 %}
                            {% for event in app.user.event %}
                                {% set eventsOrganized = eventsOrganized + 1 %}
                                {% if event.status == false %}
                                {% set eventsArchived = eventsArchived + 1 %}
                                {% endif %}
                            {% endfor %}
                          
                            <td>{{eventsOrganized}}</td>
                        </tr>
                        <tr id="events-invited">
                            <td>Invités</td>
                            {% set eventsInvited = 0 %}
                            {% for participation in app.user.participation %}
                                {% set eventsInvited = eventsInvited + 1 %}
                                    {% if participation.event.status == false %}
                                {% set eventsArchived = eventsArchived + 1 %}
                                {% endif %}
                            {% endfor %}
                            <td>{{eventsInvited}}</td>
                        </tr>
                        <tr id="events-archived">
                            <td>Archivés</td>
                            <td>{{eventsArchived}}</td>
                        </tr>
                        <tr id="events-total">
                            <td>Total</td>
                            <td>{{eventsOrganized + eventsInvited}}</td>
                        </tr>

                    </table>
                    <a href="{{path('event_index')}}" class="btn access">Accéder à la liste</a>
                </div>
                <div class="card-footer text-muted">
                <p>
                    <a href="{{path('event_create')}}"><i class="bi bi-plus-circle-fill"></i> Créer un nouvel événement</a>
                </p>
                <p>
                    <a href="{{ path('mailer')}}"><i class="bi bi-envelope-fill"></i> Envoyer des invitations</a>
                </p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    Mes sondages
                </div>
                <div class="survey-card card-body">
                    <table class="survey-table">
                        <tr id="survey-active">
                            <td>Actifs</td>
                            {# Find the number of active, inactive survey #}
                            {% set activeSurvey = 0 %}
                            {% set inactiveSurvey = 0 %}
                            {% for event in app.user.event %}
                                {% if event.survey is not null and event.survey.status == true %}
                                {% set activeSurvey = activeSurvey + 1 %}
                                {% elseif event.survey is not null and event.survey.status ==  false %}
                                {% set inactiveSurvey = inactiveSurvey + 1 %}
                                {% endif %}
                            {% endfor %}
                            <td>{{activeSurvey}}</td>
                        </tr>
                        <tr id="survey-inactive">
                            <td>Inactifs</td>
                            <td>{{inactiveSurvey}}</td>
                        </tr>
                        <tr id="survey-total">
                            <td>Total</td>
                            <td>{{activeSurvey + inactiveSurvey}}</td>
                        </tr>

                    </table>
                    <a href="{{ path('survey_index')}}" class="btn access">Accéder à la liste</a>
                </div>
                <div class="card-footer text-muted">
                    <a href="{{path('survey_create')}}"><i class="bi bi-plus-circle-fill"></i> Créer un nouveau sondage</a>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    Mon profil
                </div>
                <div class="profile-card card-body">
                    <img src="{{ asset('uploads/' ~ app.user.image)}}" class="rounded-circle" alt="">
                    <p>{{app.user.firstname}} {{app.user.lastname}}</p>
                    <p>{{app.user.email}}</p>
                    <a href="{{ path('user_index')}}" class="btn access">Accéder</a>
                </div>
            </div>

        {% if is_granted('ROLE_ADMIN') %}

            <div class="card text-center">
                <div class="card-header">
                    Administration
                </div>
                <div class="card-body">
                <p class="admin-text">Gestion des comptes utilisateurs et des événements.</p>
                    <a href="{{ path('backoffice_admin_index')}}" class="btn access">Accéder</a>
                </div>
            </div>

        {% endif %}

        </section>


  </main>  
    {% endblock %}


    
