{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<button class="button-link d-flex align-self-start ms-4 bg-one rounded p-1">
    <a class="text-decoration-none link color-four" href="{{ path('home') }}">Retour</a>
</button>

{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<section class="register-form">
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.image) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="register-button">
        <button type="submit" class="btn button_inscription">Valider</button>
        </div>
    {{ form_end(registrationForm) }}
</section>
{% endblock %}
